body {
	padding: 2em;
	font: 1.25em / 1.5em Calibri, Arial, Tahoma, Verdana, sans-serif;
	color: #222222;
}

h1, h2 {
	font-weight: normal;
	font-family: Georgia, Times, serif;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	line-height: 1.5em;
	margin: 1em 0;
}

h2 {
	font-size: 1.5em;
	padding-top: 2em;
	margin: 1em 0;
	border-top: 1px solid #dddddd;
}

.steps {
	columns: 3 20em;
	column-gap: 2em;
	font-size: 0.75em;
	line-height: 1.5;
}

.step {
	break-inside: avoid;
}

.step .step-num {
	float: left;
	margin: 0;
	font-size: 0.75em;
	line-height: 1.5;
	padding: 0.25em 0.5em;
	margin-right: 0.5em;
	background: #d33;
	color: #fff;
	text-transform: uppercase;
}

canvas {
	margin: 1em 0;
	width: 100%;
	display: block;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: #09c;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 153, 204, 0);
	transition: border 0.25s ease-in-out;
}

a:hover,
a:focus {
	border-bottom-color: rgba(0, 153, 204, 1);
}

.header {
	margin: 5em 0 2em;
	text-align: center;
}

.svg {
	margin: 2em;
}

.note {
	font-size: 0.75em;
	line-height: 1.5;
	background: #FFC;

	padding: 1em;
	text-align: center;
	color: #652;
}

.code {
	font: 0.5em / 1.5 "Courier New", courier, monospace;
	overflow-x: auto;
	padding: 1em;
	background: #f8f8f8;
	color: #777788;
	border-radius: 4px;
	margin: 2em 0;
}

.hljs-keyword {
	color: #a6a;
}
.hljs-title {
	color: #f60;
}
.hljs-comment {
	color: #999;
	font-style: italic;
}
.hljs-number {
	color: #F90;
}
.hljs-string {
	color: #8a6;
}
